* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #393737;
    color: white;
    text-decoration: none;
}

#root {
    max-width: 1170px;
    margin: auto;
}

@media (max-width: 1170px) {
    #root {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    #root {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    #root {
        max-width: none;
    }
}
