* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    margin-top: 50px;
    display: flex;
    align-items: center;

}
.logoAndText {
    display: flex;
    align-items: center;
}

.logo {
    width: 42px;
    height: 40px;
}

.logoText {
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
    margin-left: 9px;
}

.navbarUl {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 128px;
}

.link {
    font-weight: 400;
    font-size: 15px;
    margin-left: 25px;
}

.link:hover {
    color: #49DDA8;
}
.first {
    margin-left: 0px;
}

.number {
    margin-left: 55px;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}

.number:hover {
    color: #49DDA8;
}

.accountBlock {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
}

.accountBlockText {
    font-weight: 400;
    font-size: 15px;
}
.accountBlockText:hover {
    color: #49DDA8;
}

.active {
    color: #49DDA8;
}